.page.theme_dark {
  --bg-color: #000028;
  --main-color: #ff0070;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --accent-color: #ff0070;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --link-color: #ff0070;
  --corner-top: url(../images/corner-top-dark_theme.svg);
  --corner-bottom: url(../images/corner-bottom-dark_theme.svg);
  --font-family: 'IBM Plex Mono';
  --bg-image: url(../images/cover-image-dark.png);
  --interactive-color: rgba(255, 0, 112, 0.4);
}

:root.theme_dark {
  --bg-color: #000028;
  --main-color: #ff0070;
  --title-color: #db00ff;
  --shadow-color: #ff0070;
  --accent-color: #ff0070;
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --section-title-color: #ff0070;
  --link-color: #ff0070;
  --corner-top: url(../images/corner-top-dark_theme.svg);
  --corner-bottom: url(../images/corner-bottom-dark_theme.svg);
  --font-family: 'IBM Plex Mono';
  --bg-image: url(../images/cover-image-dark.png);
  --interactive-color:  rgba(255, 0, 112, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --main-color: #ff0070;
    --title-color: #db00ff;
    --shadow-color: #ff0070;
    --accent-color: #ff0070;
    --subtitle-color: #000028;
    --text-color: #f1b2ce;
    --section-title-color: #ff0070;
    --link-color: #ff0070;
    --corner-top: url(../images/corner-top-dark_theme.svg);
    --corner-bottom: url(../images/corner-bottom-dark_theme.svg);
    --font-family: 'IBM Plex Mono';
    --bg-image: url(../images/cover-image-dark.png);
    --interactive-color: rgba(255, 0, 112, 0.4);
  }
}
