.page.theme_light {
  --bg-color: #fff1f7;
  --main-color: #353430;
  --title-color: #ffc2e6;
  --shadow-color: #ff0070;
  --accent-color: #ff8dcb;
  --subtitle-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --link-color: #ff8dcb;
  --corner-top: url(../images/corner-top-light_theme.svg);
  --corner-bottom: url(../images/corner-bottom-light_theme.svg);
  --bg-image: url(../images/cover-image-light.png);
  --interactive-color: #adadab;
}

:root.theme_light {
  --bg-color: #fff1f7;
  --main-color: #353430;
  --title-color: #ffc2e6;
  --shadow-color: #ff0070;
  --accent-color: #ff8dcb;
  --subtitle-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --link-color: #ff8dcb;
  --corner-top: url(../images/corner-top-light_theme.svg);
  --corner-bottom: url(../images/corner-bottom-light_theme.svg);
  --bg-image: url(../images/cover-image-light.png);
  --interactive-color: #adadab;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --main-color: #353430;
    --title-color: #ffc2e6;
    --shadow-color: #ff0070;
    --accent-color: #ff8dcb;
    --subtitle-color: #353430;
    --text-color: #353430;
    --section-title-color: #353430;
    --link-color: #ff8dcb;
    --corner-top: url(../images/corner-top-light_theme.svg);
    --corner-bottom: url(../images/corner-bottom-light_theme.svg);
    --bg-image: url(../images/cover-image-light.png);
  }
}

.theme_light .decoration {
  display: none;
}
