.page.theme_light {
  --bg-color: #FFF1F7;
  --main-color: #353430;
  --title-color: #FFC2E6;
  --shadow-color: #FF0070;
  --accent-color: #FF8DCB;
  --subtitle-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --link-color: #FF8DCB;
  --corner-top: url(../images/corner-top-light_theme.svg);
  --corner-bottom: url(../images/corner-bottom-light_theme.svg);
  --bg-image: url(../images/cover-image-light.png);
  --interactive-color: #ADADAB;
}

:root.theme_light {
  --bg-color: #FFF1F7;
  --main-color: #353430;
  --title-color: #FFC2E6;
  --shadow-color: #FF0070;
  --accent-color: #FF8DCB;
  --subtitle-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --link-color: #FF8DCB;
  --corner-top: url(../images/corner-top-light_theme.svg);
  --corner-bottom: url(../images/corner-bottom-light_theme.svg);
  --bg-image: url(../images/cover-image-light.png);
  --interactive-color: #ADADAB;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
  --main-color: #353430;
  --title-color: #FFC2E6;
  --shadow-color: #FF0070;
  --accent-color: #FF8DCB;
  --subtitle-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --link-color: #FF8DCB;
  --corner-top: url(../images/corner-top-light_theme.svg);
  --corner-bottom: url(../images/corner-bottom-light_theme.svg);
  --bg-image: url(../images/cover-image-light.png);
  }
}

.theme_light .decoration {
  display: none;
}